apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: newsugar-backend-hpa-prod
  namespace: default
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: newsugar-backend-prod
  minReplicas: 2
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
